@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #040d1a;
  color: #e2e8f0;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #040d1a; }
::-webkit-scrollbar-thumb { background: #1e4976; border-radius: 3px; }
